@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'montserrat';
}

.display_wrapper{
  display:flex;
  padding-right: 100px;
}

.text{
  font-style: montserrat;
  color: #A5A5A5;
  padding-top: 150px;
  padding-right: 200px;
  margin-left: 140px;

}

.img{
  padding-top: 150px;
  padding-left: 200px;
  margin-left: 100px;
  width: 35%;
  height: 35%;
}
